
@{
	ViewData["Title"] = "Авторизация";
}

<link rel="stylesheet" href="~/css/login.css">

<body>
	<div class="container">
		<section class="content">
			<div class="homeblock">
				<a asp-action="Index" class="homelink">Назад</a>
			</div>

			<form asp-action="Autorization" asp-controller="Home">
				<h1>@ViewData["Title"]</h1>
				<div>
					<input type="text" placeholder="Почта/Телефон" id="username" name="number"/>
				</div>
				<div class="ErrorMes">
					
				</div>

				<div>
					<input type="password" placeholder="Пароль" id="password" name="password"/>
				</div>
				<div class="ErrorMes">
					
				</div>

				<div>
					<input type="submit" value="Войти" />
					<div class="links-block">
						<a href="#">Забыли пароль?</a>
						<a asp-action="RegisterView">Нет аккаута?</a>
					</div>
				</div>
			</form>
		</section>
	</div>
</body>
