@import url("vars.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}

.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}

body {
	background-color: var(--color-background);
	background-size: 50px;
	color: var(--color-text-lite);
	font-family: raleway-c;
	overflow-x: hidden;
}

.top-line{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	justify-content: right;
	flex: 1;
	font-size: 2.2vh;
	margin-top: 2.2vh;
	z-index: 10;
	position: relative;
}

.main-menu li {
	list-style-type: none;
	display: inline-block;
}

.main-menu li > * {
	color: var(--color-back-gray);
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	font-size: .725em;
	letter-spacing: .25em;
	position: relative;
}

.main-menu li > *::before,
.main-menu li > *::after {
	content: '';
	display: inline-block;
	height: 2px;
	background-color: var(--color-akcent);
	width: 11.25px;
	vertical-align: middle;
	top: -1px;
	left: -1.5px;
	position: relative;
	border-radius: 10em;
	margin: 0 7.25px;
	visibility: hidden;
}

.main-menu li.active > *,
.main-menu li:hover > * {
	color: var(--color-text-lite);
}


.main-menu li.active > *::before,
.main-menu li:hover > *::before,
.main-menu li.active > *::after,
.main-menu li:hover > *::after {
	visibility: visible;
}

.button {
	padding: 1.05em 2.6em;
	color: var(--color-text-lite);
	background-color: var(--color-akcent);
	border: 1.5px solid transparent;
	border-radius: 10em 0 10em 10em;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: .21em;
	text-transform: uppercase;
	font-size: .65em;
	cursor: pointer;
}

.button--top {
	background-color: transparent;
	border-color: var(--color-akcent);
	margin: 0 2em 0 3em;
}

.button:hover {
	background-color: var(--color-akcent);
}

.hero {
	width: calc(var(--index) * 50);
	position: absolute;
	left: 24vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 24vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: calc(var(--index) * 21);
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-text-lite);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
